VITE_ASTERA_API_BASE=https://api.asterav8.jp
VITE_ASTERA_HP_URL=https://asterav8.jp/
VITE_SUPPORT_DEVELOPMENT_URL=https://asterav8.jp/support/development
VITE_SUPPORT_CROWDFUNDING_URL=https://asterav8.jp/support/crowdfunding
VITE_SUPPORT_PARTNERSHIP_URL=https://asterav8.jp/support/partnership
